[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest
[submodule "submodules/geographiclib"]
	path = submodules/geographiclib
	url = https://git.code.sf.net/p/geographiclib/code
